undershoot {
	background-repeat: no-repeat;
	background-clip: border-box;
	$shadow-color: black;
	&.top {
		background-image: linear-gradient(to bottom, gtkalpha($shadow-color, 0.5), gtkalpha($shadow-color, 0.2), gtkalpha($shadow-color, 0));
		background-size: 100% 1em;
		background-position: top;
	}
	&.bottom {
		background-image: linear-gradient(to top, gtkalpha($shadow-color, 0.5), gtkalpha($shadow-color, 0.2), gtkalpha($shadow-color, 0));
		background-size: 100% 1em;
		background-position: bottom;
	}
	&.left {
		background-image: linear-gradient(to right, gtkalpha($shadow-color, 0.5), gtkalpha($shadow-color, 0.2), gtkalpha($shadow-color, 0));
		background-size: 1em 100%;
		background-position: left;	
	}
	&.right {
		background-image: linear-gradient(to left, gtkalpha($shadow-color, 0.5), gtkalpha($shadow-color, 0.2), gtkalpha($shadow-color, 0));
		background-size: 1em 100%;
		background-position: right;	
	}
	
}
